
@media (max-width: 1024px){

    /* product  card */
    .food-item{  /*-_-*/  
        width: 20rem;
    }

    .item-img-div{ /*-_-*/
        height: 14rem; 
    }

    .item-name{ 
        font-size: 1.5rem;
    }

    .item-catagory{ /*-_-*/
        font-size: 1.3rem;
    }
    
    .item-rate{ /*-_-*/
        font-size: 1.1rem;
    }

    .item-rate .rating i{ /*-_-*/
        font-size: 1.1rem;
    }
    /* product  card Ends */
}




@media (max-width: 991px) {

    #logo{
        padding: 1rem;
    }

    .nav-menu-col{
        display: none;
    }

    .hamburger{
        font-size: 2rem;
        margin-bottom: 2rem;
        display: block;
    }

    .land-bg{
        width: 100%;
        height: 100%;
    }

    /* ad */
    .ad{
        margin: .2rem  0;
        padding: 0 1rem;
    }
    
}

/* ================================ */
            /* TAB SIZE */
/* ================================ */
@media (max-width: 768px) {

    .nav-top a{
        font-size: 80% ;
    }

    *.nav-extra{
        font-size: 80%;
    }

    .search-group{        
        padding: 0 1rem;
    }

    /* land page responsive */
    .land-item{
        height: 60vh;
    }

    .land-welcome{      
        word-spacing: 0;
        font-size: 1.3rem;        
    }

    .land-info{
        font-size: 1.2rem;
    }

    .land-title h1{
        font-size: 3.5rem;
    }


    #recommend-item-section{
        margin-top: 5rem;
    }


    /* product  card */
    .food-item{  /*-_-*/  
        width: 18rem;
    }

    .item-img-div{ /*-_-*/
        height: 13rem; 
    }

    .item-name{ 
        font-size: 1.4rem;
    }

    .item-catagory{ /*-_-*/
        font-size: 1.3rem;
    }
    
    .item-rate{ /*-_-*/
        font-size: 1.1rem;
    }

    .item-rate .rating i{ /*-_-*/
        font-size: 1.1rem;
    }
    /* product  card Ends */

    .see-more-btn{
        font-size: 1.3rem;
        padding:  .5rem 2rem;
        border-radius: .5rem;
    }
    
    .ad{
        margin: 2rem 0;
    }

    .know-right{
        display: none;
    }

    .know-info h1{
        font-size: 3rem;
    }

    .know-phone i{
        color: #D51C22;
        padding: 1rem;
        font-size: 2rem;
    }
    
    .know-phone{
        padding: 1rem 4rem;
        font-size: 1.5rem;
        color: black;
        font-weight: bold;
    }

}


/* ================================ */
            /* MAX 600 */
/* ================================ */
@media (max-width: 600px) {
 
    .land-welcome{      
        word-spacing: 0;
        font-size: 1.2rem;        
    }


    /* product  card */
    .item-container{
        display: flex;
        flex-wrap: wrap ;
        justify-content: space-around;
    }
    
    .food-item{  /*-_-*/  
        width: 17rem;
    }

    .item-img-div{ /*-_-*/
        height: 12rem; 
    }

    .item-name{ 
        font-size: 1.2rem;
    }

    .item-catagory{ /*-_-*/
        font-size: 1.1rem;
    }
    
    .food-item .price{ /*-_-*/
        margin: 0 ;
        font-size: 1.3rem;
    }

    .item-rate{ /*-_-*/
        font-size: 1.1rem;
    }

    .item-rate .rating i{ /*-_-*/
        font-size: 1rem;
    }
    /* product  card Ends */


}

/* ================================ */
            /* MAX 576 */
/* ================================ */
@media (max-width: 576px) {
    .land-title h1{
        font-size: 3rem;
    }

    .navbar .row{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

/* ================================ */
            /* MAX 550 */
/* ================================ */
@media (max-width: 550px) {

    .land-welcome{      
        word-spacing: 0;
        font-size: 1.1rem;        
    }

    .land-title h1{
        font-size: 3.5rem;
    }

    .land-info{
        font-size: 1.1rem;
    }
 
}


/* ================================ */
            /* MAX 500 */
/* ================================ */
@media (max-width: 500px) {

    .search-input{
        width: 10rem;
    }

    /* LAND PAGE */
    .land-text{
        width: 80%;
    }

    #land-page .owl-nav .owl-next,
    #land-page .owl-nav .owl-prev{
        top: 100%;
        background-color: black !important;    
        color: white !important;
        font-size: 1.5rem;
        width: 3rem;
        height: 3rem;
    }

    #land-page .owl-nav .owl-prev{
        left: 40%;
    }
    #land-page .owl-nav .owl-next{
        right: 40%;
    }

    .land-welcome{      
        word-spacing: 0;
        font-size: 1.2rem;        
    }

    .land-title h1{
        font-size: 3.5rem;
    }

    .land-info{
        font-size: 1.2rem;
    }


    /* know us section */
    .know-info h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .know-info p{
        font-size: 1.4rem;
    }

    .know-phone i{
        color: #D51C22;
        padding: 1rem;
        font-size: 2rem;
    }
    
    .know-phone{
        padding: 1rem 2rem;
        font-size: 1.4rem;
        color: black;
        font-weight: bold;
    }

    .know-bottom .def-btn{
        padding: .8rem 3rem;
        font-size: 1.4rem;
    }
    /* know us section Ends */

}


/* ================================ */
            /* LARGE MOBILE */
/* ================================ */
@media (max-width: 425px) {

    .nav-top a{
        font-size: 60%;
        padding: .5rem;
    }

    #logo{
        height: 8rem;
        z-index: 5;
    }

    .nav-extra-col{
        padding: 0;
    }

    .nav-extra ul li{ 
        padding: 1rem;
    }

    .search-input{
        width: 7rem;
        height: 2rem;
        font-size: 80%;
        padding: .5rem;
    }

    .nav-extra a,
    .wishlist-number,
    .cart-number,
    button{
        font-size: 90%;
        padding: 0;
    }

    .nav-top a{
        font-size: 1rem;
        padding: .5rem;
    }


    /* LAND PAGE */
    .land-item{
        height: 40vh;
    }

    .land-welcome{
        font-size: 1.1rem;        
    }

    .land-title h1{
        font-size: 3.0rem;
    }

    .land-info{
        font-size: 1.1rem;
    }

    .land-btn{
        padding: 1rem 2.0rem;
        font-size: 1.4rem;
    }


    /* product  card */
    .title{
        padding-left: 1rem;
    }

    .food-item{  /*-_-*/  
        width: 16rem;
    }

    .item-img-div{ /*-_-*/
        height: 11rem; 
    }

    .item-name{ 
        font-size: 1.2rem;
    }

    .item-catagory{ /*-_-*/
        font-size: 1.1rem;
    }
    
    .food-item .price{ /*-_-*/
        margin: 0 ;
        font-size: 1.3rem;
    }

    .item-rate{ /*-_-*/
        font-size: 1rem;
    }

    .item-rate .rating i{ /*-_-*/
        font-size: 1rem;
    }
    /* product  card Ends */


    
}


@media (max-width: 375px) {

    .container-fluid{
        padding: 0;
        margin: 0;
    }

    .hamburger{
        font-size: 80%;
        margin-bottom: 1rem;
    }

    .nav-top a{
        font-size: 50%;
        padding: .5rem;
    }


    #land-page .owl-nav .owl-prev{
        left: 35%;
    }
    #land-page .owl-nav .owl-next{
        right: 35%;
    }


    /* product  card */
    
    .food-item{  /*-_-*/  
        width: 15rem;
    }    
    /* product  card Ends */

    /* know us section */
    .know-left{
        padding-left: 4rem;
    }

    .know-info h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .know-info p{
        font-size: 1.3rem;
    }

    .know-phone i{
        color: #D51C22;
        padding: 1rem;
        font-size: 2rem;
    }
    
    .know-phone{
        padding: 1rem 1rem;
        font-size: 1.2rem;
        color: black;
        font-weight: bold;
    }

    .know-bottom .def-btn{
        padding: .8rem 1.5rem;
        font-size: 1.2rem;
    }
    /* know us section Ends */

 
}
